#openingDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
